Repository mathieucarbou/license-maven-plugin, pull requests merged in 2022-03, with the labels that each got.

#253 Optionally warn (once) if repository is shallow/sparse
  license-maven-plugin-git/src/main/java/com/mycila/maven/plugin/license/git/CopyrightAuthorProvider.java
  license-maven-plugin-git/src/main/java/com/mycila/maven/plugin/license/git/CopyrightRangeProvider.java
  license-maven-plugin-git/src/main/java/com/mycila/maven/plugin/license/git/GitLookup.java
  license-maven-plugin-git/src/main/java/com/mycila/maven/plugin/license/git/GitPropertiesProvider.java
  license-maven-plugin-git/src/test/java/com/mycila/maven/plugin/license/git/CopyrightAuthorProviderTest.java
  license-maven-plugin-git/src/test/java/com/mycila/maven/plugin/license/git/CopyrightRangeProviderTest.java
  license-maven-plugin-svn/src/main/java/com/mycila/maven/plugin/license/svn/SVNPropertiesProvider.java
  license-maven-plugin/src/main/java/com/mycila/maven/plugin/license/AbstractLicenseMojo.java
Labels: is:enhancement, in:git

#310 Default to full depth for GitLookup
  license-maven-plugin-git/README.md
  license-maven-plugin-git/src/main/java/com/mycila/maven/plugin/license/git/GitLookup.java
  license-maven-plugin-git/src/main/java/com/mycila/maven/plugin/license/git/GitPropertiesProvider.java
Labels: is:enhancement, in:git

#325 Maven related cleanups
  license-maven-plugin-git/pom.xml
  license-maven-plugin-svn/pom.xml
  license-maven-plugin/pom.xml
  pom.xml
Labels: is:enhancement, in:doc, in:build

#340 Updated license headers
  docs/reports/4.2-SNAPSHOT/license-maven-plugin-git/license-plugin-report.xml
  docs/reports/4.2-SNAPSHOT/license-maven-plugin-svn/license-plugin-report.xml
  docs/reports/4.2-SNAPSHOT/license-maven-plugin/license-plugin-report.xml
  docs/reports/4.2-SNAPSHOT/license-plugin-report.xml
  license-maven-plugin-git/pom.xml
  license-maven-plugin-git/src/main/java/com/mycila/maven/plugin/license/git/CopyrightAuthorProvider.java
  license-maven-plugin-git/src/main/java/com/mycila/maven/plugin/license/git/CopyrightRangeProvider.java
  license-maven-plugin-git/src/main/java/com/mycila/maven/plugin/license/git/GitLookup.java
  license-maven-plugin-git/src/main/java/com/mycila/maven/plugin/license/git/GitPathResolver.java
  license-maven-plugin-git/src/main/java/com/mycila/maven/plugin/license/git/GitPropertiesProvider.java
  license-maven-plugin-git/src/test/java/com/mycila/maven/plugin/license/git/CopyrightAuthorProviderTest.java
  license-maven-plugin-git/src/test/java/com/mycila/maven/plugin/license/git/CopyrightRangeProviderTest.java
  license-maven-plugin-git/src/test/java/com/mycila/maven/plugin/license/git/GitLookupTest.java
  license-maven-plugin-git/src/test/java/com/mycila/maven/plugin/license/git/GitPathResolverTest.java
  license-maven-plugin-svn/pom.xml
  license-maven-plugin-svn/src/main/java/com/mycila/maven/plugin/license/svn/SVNPropertiesProvider.java
  license-maven-plugin/pom.xml
  license-maven-plugin/src/main/java/com/mycila/maven/plugin/license/AbstractLicenseMojo.java
  license-maven-plugin/src/main/java/com/mycila/maven/plugin/license/Callback.java
  license-maven-plugin/src/main/java/com/mycila/maven/plugin/license/Credentials.java
  license-maven-plugin/src/main/java/com/mycila/maven/plugin/license/Default.java
  license-maven-plugin/src/main/java/com/mycila/maven/plugin/license/HeaderSection.java
  license-maven-plugin/src/main/java/com/mycila/maven/plugin/license/HeaderStyle.java
  license-maven-plugin/src/main/java/com/mycila/maven/plugin/license/LicenseCheckMojo.java
  license-maven-plugin/src/main/java/com/mycila/maven/plugin/license/LicenseFormatMojo.java
  license-maven-plugin/src/main/java/com/mycila/maven/plugin/license/LicenseRemoveMojo.java
  license-maven-plugin/src/main/java/com/mycila/maven/plugin/license/LicenseSet.java
  license-maven-plugin/src/main/java/com/mycila/maven/plugin/license/Multi.java
  license-maven-plugin/src/main/java/com/mycila/maven/plugin/license/PropertiesProvider.java
  license-maven-plugin/src/main/java/com/mycila/maven/plugin/license/Report.java
  license-maven-plugin/src/main/java/com/mycila/maven/plugin/license/dependencies/AbstractLicensePolicyEnforcer.java
  license-maven-plugin/src/main/java/com/mycila/maven/plugin/license/dependencies/AggregateLicensePolicyEnforcer.java
  license-maven-plugin/src/main/java/com/mycila/maven/plugin/license/dependencies/ArtifactLicensePolicyEnforcer.java
  license-maven-plugin/src/main/java/com/mycila/maven/plugin/license/dependencies/DefaultLicensePolicyEnforcer.java
  license-maven-plugin/src/main/java/com/mycila/maven/plugin/license/dependencies/LicenseMap.java
  license-maven-plugin/src/main/java/com/mycila/maven/plugin/license/dependencies/LicenseMessage.java
  license-maven-plugin/src/main/java/com/mycila/maven/plugin/license/dependencies/LicenseNameLicensePolicyEnforcer.java
  license-maven-plugin/src/main/java/com/mycila/maven/plugin/license/dependencies/LicensePolicy.java
  license-maven-plugin/src/main/java/com/mycila/maven/plugin/license/dependencies/LicensePolicyEnforcer.java
  license-maven-plugin/src/main/java/com/mycila/maven/plugin/license/dependencies/LicensePolicyEnforcerResult.java
  license-maven-plugin/src/main/java/com/mycila/maven/plugin/license/dependencies/LicenseURLLicensePolicyEnforcer.java
  license-maven-plugin/src/main/java/com/mycila/maven/plugin/license/dependencies/MavenProjectLicenses.java
  license-maven-plugin/src/main/java/com/mycila/maven/plugin/license/document/Document.java
  license-maven-plugin/src/main/java/com/mycila/maven/plugin/license/document/DocumentFactory.java
  license-maven-plugin/src/main/java/com/mycila/maven/plugin/license/document/DocumentPropertiesLoader.java
  license-maven-plugin/src/main/java/com/mycila/maven/plugin/license/document/DocumentType.java
  license-maven-plugin/src/main/java/com/mycila/maven/plugin/license/header/AdditionalHeaderDefinition.java
  license-maven-plugin/src/main/java/com/mycila/maven/plugin/license/header/Header.java
  license-maven-plugin/src/main/java/com/mycila/maven/plugin/license/header/HeaderDefinition.java
  license-maven-plugin/src/main/java/com/mycila/maven/plugin/license/header/HeaderParser.java
  license-maven-plugin/src/main/java/com/mycila/maven/plugin/license/header/HeaderSource.java
  license-maven-plugin/src/main/java/com/mycila/maven/plugin/license/header/HeaderType.java
  license-maven-plugin/src/main/java/com/mycila/maven/plugin/license/util/FileContent.java
  license-maven-plugin/src/main/java/com/mycila/maven/plugin/license/util/FileUtils.java
  license-maven-plugin/src/main/java/com/mycila/maven/plugin/license/util/Selection.java
  license-maven-plugin/src/main/java/com/mycila/maven/plugin/license/util/StringUtils.java
  license-maven-plugin/src/main/java/com/mycila/maven/plugin/license/util/resource/CustomClassLoader.java
  license-maven-plugin/src/main/java/com/mycila/maven/plugin/license/util/resource/ResourceFinder.java
  pom.xml
Labels: in:build

#342 Also commit new generated files
  .github/workflows/snapshot-report.yml
Labels: is:enhancement, in:build

#339 Rewrote the PropertiesProvider API to support initialization, close and better multithreading
  license-maven-plugin-git/src/main/java/com/mycila/maven/plugin/license/git/CopyrightAuthorProvider.java
  license-maven-plugin-git/src/main/java/com/mycila/maven/plugin/license/git/CopyrightRangeProvider.java
  license-maven-plugin-git/src/main/java/com/mycila/maven/plugin/license/git/GitLookup.java
  license-maven-plugin-git/src/main/java/com/mycila/maven/plugin/license/git/GitPropertiesProvider.java
  license-maven-plugin-git/src/test/java/com/mycila/maven/plugin/license/git/CopyrightAuthorProviderTest.java
  license-maven-plugin-git/src/test/java/com/mycila/maven/plugin/license/git/CopyrightRangeProviderTest.java
  license-maven-plugin-git/src/test/java/com/mycila/maven/plugin/license/git/GitLookupTest.java
  license-maven-plugin-svn/src/main/java/com/mycila/maven/plugin/license/svn/SVNPropertiesProvider.java
  license-maven-plugin/src/main/java/com/mycila/maven/plugin/license/AbstractLicenseMojo.java
  license-maven-plugin/src/main/java/com/mycila/maven/plugin/license/PropertiesProvider.java
  license-maven-plugin/src/main/java/com/mycila/maven/plugin/license/document/DocumentPropertiesLoader.java
  license-maven-plugin/src/main/java/com/mycila/maven/plugin/license/document/PropertyPlaceholderResolver.java
  license-maven-plugin/src/test/java/MyPropertiesProvider.java
  license-maven-plugin/src/test/java/com/mycila/maven/plugin/license/document/DocumentTest.java
Labels: is:bug, in:git

#327 Add feature to ignore git commits by id
  docs/index.md
  license-maven-plugin-git/README.md
  license-maven-plugin-git/src/main/java/com/mycila/maven/plugin/license/git/GitLookup.java
  license-maven-plugin-git/src/test/java/com/mycila/maven/plugin/license/git/GitLookupTest.java
Labels: todo, is:feature, in:git
